target
.git
.gitignore
*.md
.env
*.env
.DS_Store
*.log
.idea
*.iml
.vscode
docker-compose*.yml
docker-compose*.yaml
**/node_modules
**/dist
**/build
**/.classpath
**/.project
**/.settings
**/.factorypath
